<!-- templates/base.html -->
 <!DOCTYPE html>
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Block | {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container_base">
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}

        {% block lateral_menu %}
            {% include 'lateral_menu.html' %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    <script defer src="https://kit.fontawesome.com/8d81527fdb.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- <script defer src="{{ url_for('static', filename='js/main.js') }}"></script> -->
    <script defer type="module" src="{{ url_for('static', filename='js/algorithm.mjs') }}"></script>
{% endblock %}
